<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BBS</display-name>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<!-- 2. FrontController 서블릿을 찾아와보니 아래 클래스를 찾아가라 -->
		<servlet-class>co.jamong.board.controller.FrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<!-- 1. 주소창에서 .do로 넘어오면 무조건 FrontController 서블릿을 수행해라 -->
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>